In [ ]:
#Variable Naming


name = "Python"
#name is a variable name
# = is an assignment
#Python is value

#1. must not be a keyword
#2. must not contain space
#3. must not contain a special character (!,@£?><:"}{+}") _
#4. must not start with a numeric value (1name)wrong , name1(right)

In [ ]:
# Variable Type
# 1. String = " ", ''
# 2. Numeric= int(whole number), float(decimal)
# 3. Boolean= True or False

In [ ]:
#Maths Ops

# Addition +
# Subtraction -
# Multiplication *
# Division /
# Modulus %
# Floor //

num1 = 5
num2 = 7

# num3 = num2 + num1
# print(num3)


# num4 = num2 - num1
# print(num4)

# num5 = num2 / num1
# num5


# num6 = num2 * num1
# num6

# num7 = num2 // num1
# num7

# num8 = num2 % num1
# num8

num9 = num2 ** num1  #7x7x7x7x7 (7^5)
num9

16807

In [ ]:
#String

firstName = "Tyler"
lastName = "Smith"

fullName = firstName +" " +lastName
fullName

'Tyler Smith'

In [ ]:
#Formatting String
print(f'{firstName} {lastName}')
print(f'My first name is {firstName} and my last name is {lastName}.')

Tyler Smith
My first name is Tyler and my last name is Smith.

In [ ]:
print('My full name is {first} {last}.Sometime my family calls me {first} and my friends call me {last}'.format(first="Oluwakemi", last="Oluremi"))

My full name is Oluwakemi Oluremi.Sometime my family calls me Oluwakemi and my friends call me Oluremi

In [ ]:
#String Methods

firstName = "Tyler"
lastName = "Smith"

print(firstName.upper())

TYLER

In [ ]:
print(lastName.lower())

smith

In [ ]:
lastName.replace('S', "$")

'$mith'

In [ ]:
sentence =" This is a sentence.   "
print("-".join(sentence))

 -T-h-i-s- -i-s- -a- -s-e-n-t-e-n-c-e-.- - -

In [ ]:
"*".join(lastName)

'S*m*i*t*h'

In [ ]:
sentence.startswith("The")

False

In [ ]:
sentence.strip()

'This is a sentence.'

In [ ]:
#Condition Statement
x = 11

if x < 5:
  print('less than five')
else:
  print("greater or equal to five")

greater or equal to five

TRUE + FALSE = FALSE
FALSE + TRUE = FALSE
TRUE + TRUE = TRUE

In [ ]:
if x > 20:
  print("20")
elif x > 10 and x <20:
  print("10-20")
else:
  print("less than 10")

10-20

In [3]:
score= int(input("Enter a number: "))

if score >= 70 and score <=100:
  print("A")
elif score >= 60 and score <70:
  print("B")

Enter a number: 80
A

In [7]:
#FOR LOOP

sentence ="This is a sentence."

for l in sentence:
  if l == "e":
    print(l.replace("e", "$"))
  else:
      print(l)

T
h
i
s

i
s

a

s
$
n
t
$
n
c
$
.

In [9]:
#While loop

counter = 0

while counter < 10:
  print(counter)
  counter = counter + 1

0
1
2
3
4
5
6
7
8
9

In [11]:
counter = 0
while counter < 15:
  counter = counter + 1
  print("*"*counter)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************
*************
**************
***************

In [12]:
#Data Structure

#list  []
#tuple ()
#dictionary {}
#frozenset {}
#set{}

num = [] #square bracket
numbers = [1,2,3,4,5,6,7,8,9,10]

type(numbers)

numbers

list

In [15]:
numbers[2:] #slice from position 2 to the end of the list

[3, 4, 5, 6, 7, 8, 9, 10]

In [16]:
for n in numbers:
  print(n)

1
2
3
4
5
6
7
8
9
10

In [21]:
# numbers = [1,2,3,4,5,6,7,8,9,10]
# for n in range(1,15):
#   for num in numbers:
#       print(n * num)

In [22]:
tup = (2,5)

print(tup)

(2, 5)

In [25]:
tup.count(5)

1

In [28]:
#dictionary

my_info = {"name":"Python", "dept":"Data and Tech", "year":["2023", "2024"], "placement":False, "num":60}

In [29]:
my_info

{'name': 'Python',
 'dept': 'Data and Tech',
 'year': ['2023', '2024'],
 'placement': False,
 'num': 60}

In [33]:
my_info["year"]

['2023', '2024']

In [35]:
for k, v in my_info.items():
  print(k,v)

name Python
dept Data and Tech
year ['2023', '2024']
placement False
num 60

In [36]:
for k, v in my_info.items():
  print(k)

name
dept
year
placement
num

In [37]:
for k, v in my_info.items():
  print(v)

Python
Data and Tech
['2023', '2024']
False
60

In [38]:
for key in my_info.keys():
  print(key)

name
dept
year
placement
num

In [39]:
for value in my_info.values():
  print(value)

Python
Data and Tech
['2023', '2024']
False
60

In [41]:
for key, value in enumerate(my_info):
  print(key,value)

0 name
1 dept
2 year
3 placement
4 num

In [42]:
numbers = [1,1,1,2,3,4,5,6,7,8,9,10,2,2]
print(numbers)

[1, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 2]

In [43]:
numbers = {1,1,1,2,3,4,5,6,7,8,9,10,2,2}
print(numbers)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [45]:
fr = frozenset({1,1,1,2,3,4,5,6,7,8,9,10,2,2})
fr

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})

In [47]:
#index

numbers = [1,1,1,2,3,4,5,6,7,8,9,10,2,2]

In [49]:
numbers[0] = 56

In [50]:
numbers

[56, 1, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 2]

In [51]:
numbers[1]

1

In [54]:
numbers[-3]

10

In [57]:
numbers[4:7]

[3, 4, 5]

In [60]:
8/a

NameError: name 'a' is not defined

In [62]:
try:
  y = 8
  x = a
  z = y/x
except ZeroDivisionError:
  print("Can not be divided by zero")
except NameError:
  print("Can not be divided by a letter")

Can not be divided by a letter